[submodule "NoCarryWeight/external/obse64"]
	path = NoCarryWeight/external/obse64
	url = https://github.com/ianpatt/obse64.git
[submodule "NoCarryWeight/external/DetourModKit"]
	path = NoCarryWeight/external/DetourModKit
	url = https://github.com/tkhquang/DetourModKit.git
